# Core functionality - changes here should be rare!
/src/app.py                   @ml-justinhewitt
/src/backend/database.py      @ml-justinhewitt
/src/backend/routers/auth.py  @ml-justinhewitt

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ml-justinhewitt
